<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="">About</a>
            <a href="">Works</a>
        </nav>
    </header>
    <section>
        <h1>
            Neil deGrasse Tyson
        </h1>
        
        <img src="/images/neil.jpg" alt="Neil deGrasse Tyson">

        <p>Neil deGrasse Tyson is an American astrophysicist, planetary scientist, author, and science communicator. Tyson studied at Harvard University, the University of Texas at Austin, and Columbia University. From 1991 to 1994, he was a postdoctoral research associate at Princeton University.</p>
    </section>

    <footer>
        <p>By mauriciomeza1</p>
    </footer>

</body>
</html>